[Unit]
Description=Gnome Auto Dark Mode

[Timer]
OnCalendar=*-*-* 06:00:00
OnCalendar=*-*-* 18:00:00
Unit=gnome-auto-dark-mode.service
Persistent=True

[Install]
WantedBy=timers.target
